<mat-card [formGroup]="loginForm">
    <mat-card-title>Connection</mat-card-title>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-error>Veuillez rensigner un mail valide</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error>Le mot de passe est obligatoire</mat-error>
    </mat-form-field>
    <mat-card-actions>
        <button mat-flat-button color="primary" (click)="onLogin()">
            Connectez-vous
        </button>
    </mat-card-actions>
</mat-card>
