<mat-card [formGroup]="loginForm">
    <mat-card-title>Connexion</mat-card-title>
    <mat-spinner *ngIf="loading$ | async; else cardContent"></mat-spinner>
    <ng-template #cardContent>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" />
            <mat-error>{{ getFormCtrlErrorText(emailCtrl) }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Mot de passe</mat-label>
            <input matInput type="password" formControlName="password" />
            <mat-error>{{ getFormCtrlErrorText(passwordCtrl) }}</mat-error>
        </mat-form-field>
        <mat-card-actions>
            <button
                mat-flat-button
                color="primary"
                (click)="onLogin()"
                [disabled]="loginForm.invalid"
            >
                Connectez-vous
            </button>
        </mat-card-actions>
    </ng-template>
</mat-card>
