<mat-toolbar color="primary">
    <mat-toolbar-row class="header-top-row">
        <span class="img-wrapper">
            <img
                src="../../../../assets/logos/logogris-removebg-preview.png"
                alt="Logo Mangakian"
            />
        </span>

        <button mat-icon-button aria-label="Login button" (click)="onLogin()">
            <mat-icon (click)="onLogin()">login</mat-icon>
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <nav class="nav-links">
            <a routerLink="library">Bibliothèque</a>
            <a routerLink="mylibrary">Ma collection</a>
            <a routerLink="add">Ajout</a>
        </nav>
    </mat-toolbar-row>
</mat-toolbar>
