<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Mangakian</span>
        <button
            mat-icon-button
            class="example-icon favorite-icon"
            aria-label="Example icon-button with menu icon"
        >
            <mat-icon>login</mat-icon>
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <nav>
            <a routerLink="">All Manga</a>
            <a routerLink="">My Manga</a>
            <a routerLink="">Add Manga</a>
        </nav>
    </mat-toolbar-row>
</mat-toolbar>
